/node_modules
/public/hot
/public/storage
/public/default/assets/images
/public/assets/images
/public/assets/fonts
/public/img
/public/js/locales
/public/default
/public/courriers
/public/courriers/*.key
/public/assets/fonts/noir-pro
/storage
/storage/*.key
/vendor
/tests
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
